{
  "environment": "test",
  "scenario": "debug",
  "domains": {
    "test": {
      "host": "https://65.0.32.101",
      "api_port": 443,
      "ws_port": 4433,
      "provision": {
        "service_type": "instant",
        "region": "spain",
        "ip_address": "103.211.135.111",
        "is_ip_address_static": false,
        "protocol": "wireguard"
      },
      "license": {
        "plan_id": "staging_standard_monthly_subscription",
        "payment_processor": "google_pay",
        "paid_invoice_id": "GPA.3323-3425-0603-62878",
        "subscription_type": "Standard",
        "server_verification_data": "test_verification_data"
      },
      "shared": {
        "host": "https://skipr-shared-test.s3.us-west-2.amazonaws.com"
      },
      "cms": {
        "host": "https://cms.mytrunk.org"
      },
      "timeoutSec": 60,
      "timeoutWSSec": 10
    },
    "dev": {
      "host": "https://00.00.00.00",
      "api_port": 443,
      "ws_port": 4433,
      "provision": {
        "service_type": "instant",
        "region": "canada",
        "ip_address": "auto",
        "is_ip_address_static": false,
        "protocol": "wireguard"
      },
      "license": {
        "plan_id": "dev_standard_monthly",
        "payment_processor": "google_pay",
        "paid_invoice_id": "DEV_INVOICE_ID",
        "subscription_type": "Standard",
        "server_verification_data": "dev_verification_data"
      },
      "shared": {
        "host": "https://skipr-shared-dev.s3.us-west-2.amazonaws.com"
      },
      "cms": {
        "host": "https://dev-cms.mytrunk.org"
      },
      "timeoutSec": 60,
      "timeoutWSSec": 10
    },
    "staging": {
      "host": "https://00.00.00.00",
      "api_port": 443,
      "ws_port": 4433,
      "provision": {
        "service_type": "instant",
        "region": "germany",
        "ip_address": "auto",
        "is_ip_address_static": false,
        "protocol": "wireguard"
      },
      "license": {
        "plan_id": "staging_standard_monthly",
        "payment_processor": "google_pay",
        "paid_invoice_id": "STAGING_INVOICE_ID",
        "subscription_type": "Standard",
        "server_verification_data": "staging_verification_data"
      },
      "shared": {
        "host": "https://skipr-shared-staging.s3.us-west-2.amazonaws.com"
      },
      "cms": {
        "host": "https://staging-cms.mytrunk.org"
      },
      "timeoutSec": 75,
      "timeoutWSSec": 12
    },
    "prod": {
      "host": "https://3.69.166.97",
      "api_port": 443,
      "ws_port": 4433,
      "provision": {
        "service_type": "instant",
        "region": "germany",
        "ip_address": "auto",
        "is_ip_address_static": false,
        "protocol": "wireguard"
      },
      "license": {
        "plan_id": "prod_standard_monthly",
        "payment_processor": "google_pay",
        "paid_invoice_id": "REPLACE_WITH_REAL_INVOICE",
        "subscription_type": "Standard",
        "server_verification_data": "REPLACE_WITH_REAL_DATA"
      },
      "shared": {
        "host": "https://skipr-shared-prod.s3.us-west-2.amazonaws.com"
      },
      "timeoutSec": 90,
      "timeoutWSSec": 15
    }
  }
}
